.container
  .row
    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
      .card
        .card-header.clearfix
          .pull-left
            %ol.breadcrumb
              %li.active
                %span.fa.fa-users
                Teams
          .pull-right
            -# if current_user.admin == true
            = link_to 'New', new_team_path, class: 'btn btn-primary'

        .card-block
          %table.table
            %thead
              %tr
                %th
                  %span.fa.fa-user
                  Team
            %tbody
              - @teams.each do |team|
                %tr{id: dom_id(team)}
                  %td
                    %b= link_to team.team_name, team_path(team), style: "color:##{team.color}"
                    %br
                    = team.description
