.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .card
        .card-header.clearfix
          .pull-left
            %ol.breadcrumb
              %li
                = link_to teams_path do
                  %span.fa.fa-user-secret
                  Admin
              %li.active New
          .pull-right
            = link_to 'Cancel', teams_path, class: 'btn btn-secondary-outline'

        = render 'form'
