.clearfix
  .pull-sm-left
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to teams_path do
          %i.mdi.mdi-account-multiple
          = t('shared.navbar.teams')
      %li.breadcrumb-item.active
        %i.mdi.mdi-account-multiple-plus
        New
  .pull-sm-right
    = link_to 'Cancel', teams_path, class: 'btn btn-secondary'
%hr
= render 'form'
