%nav.navbar.navbar-fixed-top
  %ul.nav.navbar-nav
    %li.nav-item
      = link_to teams_path, class: 'nav-link' do
        %i.mdi.mdi-account-multiple
        = t('shared.navbar.teams')
    %li.nav-item
      .nav-link
        %i.mdi.mdi-account-multiple-plus
        New
  %ul.nav.navbar-nav.pull-sm-right
    %li.nav-item
      = link_to 'Cancel', teams_path, class: 'nav-link'
%hr
= render 'form'
