.container
  .row
    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
      .card
        .card-header.clearfix
          .pull-left
            %ol.breadcrumb
              %li.breadcrumb-item
                = link_to teams_path do
                  %span.fa.fa-users
                  Teams
              %li.breadcrumb-item.active New
          .pull-right
            = link_to 'Cancel', teams_path, class: 'btn btn-secondary'

        = render 'form'
