.container
  .row
    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
      .card
        .card-header.clearfix
          .pull-sm-left
            %ol.breadcrumb
              %li.breadcrumb-item
                = link_to teams_path do
                  %i.mdi.mdi-account-multiple
                  Teams
              %li.breadcrumb-item.active
                %i.mdi.mdi-account-multiple-plus
                New
          .pull-sm-right
            = link_to 'Cancel', teams_path, class: 'btn btn-secondary'

        = render 'form'
