.container
  .row
    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
      .card
        .card-header.clearfix
          .pull-left
            %ol.breadcrumb
              %li
                = link_to teams_path do
                  %span.fa.fa-users
                  Teams
              %li
                = link_to users_path(team_id: @team) do
                  %span.fa.fa-group
                  Users
              %li.active New
          .pull-right
            = link_to 'Cancel', users_path(team_id: @team), class: 'btn btn-outline-secondary'

        = render partial: "form"
