- hour = hour + script_time
- if hour > 23
  - hour = hour - 24
- if script_time == hour
  .hour.active-time><= hour
- elsif (9..17).include?(hour)
  .hour.work-time><= hour
- elsif (7..22).include?(hour)
  .hour.awake-time><= hour
- else
  .hour><= hour
