body
  padding-top: 5.5rem

::selection
  background: $brand-primary
  color: $gray-dark

.fa
  width: 1.2em
  text-align: center

h1, h2, h3, h4, h5, h6
  font-weight: 600

img
  max-width: 100%

.navbar-dark
  .navbar-brand
    color: $gray-darkest
