html, body
  height: 100%

body
  background: linear-gradient(0deg, darken($purple, 20%), darken($gray-lightest, 3%))
  background-repeat: no-repeat
  background-attachment: fixed
  font-weight: 200

// Sticky footer
.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -5.5rem
  padding-top: 7rem

.footer,
.push
  height: 2.5rem

#flash
  position: fixed
  top: 1rem
  left: 1rem
  right: 1rem
  z-index: 9999

.avatar
  @extend .img-circle
  &.avatar-inline
    width: 1.4em
    height: 1.4em
    vertical-align: middle

.delay
  transition-delay: 1s

::selection
  background: $brand-primary
  color: $gray-dark

[type="checkbox"],
[type="radio"]
  margin-right: .5em

.mdi:before,
.mdi-set
  font-size: 1em

img
  max-width: 100%

.navbar-fixed-top,
.card-header
  background: linear-gradient(180deg, lighten($gray-lightest, 2%), $gray-lightest)
  border-top-color: lighten($gray-lightest, 10%)
  border-bottom-color: darken($gray-lightest, 3%)

.breadcrumb
  margin-bottom: 0rem

.btn-secondary:active,
.btn-secondary.active,
.open > .btn-secondary.dropdown-toggle
  background: $gray-lightest
  &:hover,
  &:focus,
  &.focus
    background: $gray-lightest

.btn-primary
  border-left: none
  border-right: none
  background: linear-gradient(180deg, lighten($brand-primary, 2%), $brand-primary)
  border-top-color: lighten($brand-primary, 10%)
  border-bottom-color: darken($brand-primary, 10%)

.btn-secondary
  border-left: none
  border-right: none
  background: linear-gradient(180deg, lighten($gray-lighter, 2%), $gray-lighter)
  border-top-color: lighten($gray-lighter, 10%)
  border-bottom-color: darken($gray-lighter, 3%)

.btn-info
  border-left: none
  border-right: none
  background: linear-gradient(180deg, lighten($brand-info, 2%), $brand-info)
  border-top-color: lighten($brand-info, 10%)
  border-bottom-color: darken($brand-info, 10%)

.btn-success
  border-left: none
  border-right: none
  background: linear-gradient(180deg, lighten($brand-success, 2%), $brand-success)
  border-top-color: lighten($brand-success, 10%)
  border-bottom-color: darken($brand-success, 10%)

.btn-warning
  border-left: none
  border-right: none
  background: linear-gradient(180deg, lighten($brand-warning, 2%), $brand-warning)
  border-top-color: lighten($brand-warning, 10%)
  border-bottom-color: darken($brand-warning, 10%)

.btn-danger
  border-left: none
  border-right: none
  background: linear-gradient(180deg, lighten($brand-danger, 2%), $brand-danger)
  border-top-color: lighten($brand-danger, 10%)
  border-bottom-color: darken($brand-danger, 10%)
