.container
  .col-sm-8.offset-sm-2
    .card
      .card-header
        %h3
          Hello
          = @resource.email
          !

      %p We're contacting you to notify you that your password has been changed.
