.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .card
        .card-header.clearfix
          .pull-left
            %ol.breadcrumb
              %li.active
                %span.fa.fa-user-secret
                Admin
          .pull-right
            - if current_user.admin == true
              = link_to 'New', new_admin_team_path, class: 'btn btn-primary-outline'

        .card-block
          %table.table
            %thead
              %tr
                %th
                  %span.fa.fa-user
                  Team
            %tbody
              - @teams.each do |team|
                %tr{id: dom_id(team)}
                  %td
                    %b= link_to team.company_name, admin_team_path(team), style: "color:##{team.color}"
                    %br
                    = team.description
